.key {
display:inline;
color:blue;
}
.value {
display:inline;
color:green;
}
.jqtree-element span {
display:inline-block;
}
#repositoriesDetails, #requestsDetails, #ROsDetails {
word-wrap:break-word;
word-break:break-all;
height:437px;
}
.tab-pane {
overflow:none;
}

.itemlist, .details div {
word-wrap:break-word;
word-break:break-all;
overflow-y:auto;
}
.itemlist .selecteditem, .itemlist .selecteditem:hover, .itemlist .selecteditem:hover td{
    background-color: #95C9FF!important;
}

.itemlist {
max-height:400px;
}
.details {
	float:right;
}

th {
word-break:normal;
}
#requestsfilter, #repositoriesfilter, #ROsfilter, #peoplefilter {
width:96%;
}
#page {
height:800px;
}
/*footer*/
#servicesfooter {
	padding: 5px 0px;
	background-color: #0b5ca3;
	color: #fff !important;
	font-size: 12px;
	width: 1200px;
	height: 30px;
	
margin:auto;
margin-top:-100px;
	bottom: 10px;
	left: 0;
	right: 0;
}

#servicesfooter .copyright {
	color: #fff;
	max-width: 90%;
	float: left;
	font-size: 12px;
	margin-left: 2%;
	line-height: 30px;
}

#servicesfooter a {
	color: #fff !important;
	text-decoration:none;
}
.rooptions input[type='radio'] {
margin: 10px 5px 10px 10px;
}